<html>
<head>
<title>Sample Example</title>
<style type="text/css">
	.js-color{
		    color: deepskyblue;
	}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<section class="w-video-bg section-p-50 section-bg text-center" style="margin: 50px;">
		<div class="container text-center" style="margin-left: 200px;">
			<h3 class="js-color" style="font-size: 30px">Gallery</h3>
			<h6 class="js-color">Sweet & Perfect</h6>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="restarent22.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="restarent21.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="restarent21.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>
				<div class="col-md-3 col-sm-6">

					<img src="restarent22.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>      
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="restarent12.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="restarent13.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div> 
				<div class="col-md-3 col-sm-6">
					<img src="restarent14.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>       
				<div class="col-md-3 col-sm-6">
					<img src="restarent12.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" height="300">
				</div>            
			</div>
		</div>
	</section>

	</body>
	</html>